global:
  scrape_interval:     15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'docker-host-alpha'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules"

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
{% if node_exporter_targets %}
{% for target in node_exporter_targets %}
      - targets: ['{{ target }}']
{% endfor %}
{% else %}
{% for target in groups['exporter'] %}
      - targets: ['{{ target[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% endif %}
      

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
{% if cadvisor_targets %}
{% for target in cadvisor_targets %}
      - targets: ['{{ target }}']
{% endfor %}
{% else %}
{% for target in groups['exporter'] %}
      - targets: ['{{ target[host]['ansible_eth0']['ipv4']['address'] }}:9200']
{% endfor %}
{% endif %}

{% if traefik_exporter_targets %}
  - job_name: 'traefik'
    scrape_interval: 10s
    static_configs:
{% for target in traefik_exporter_targets %}
      - targets: ['{{ target }}']
{% endfor %}
{% endif %}

{% if nginx_exporter_targets %}
  - job_name: 'nginx'
    scrape_interval: 10s
    static_configs:
{% for target in nginx_exporter_targets %}
      - targets: ['{{ target }}']
{% endfor %}
{% endif %}


#  - job_name: 'aspnetcore'
#    scrape_interval: 10s
#    static_configs:
#      - targets: ['eventlog-proxy:5000', 'eventlog:5000']


alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: 
      - 'alertmanager:9093'