global:
  scrape_interval:     15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'docker-host-alpha'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules"

# A scrape configuration containing exactly one endpoint to scrape.
# -----------------------------------------------------------------

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']

{% if 'node-exporter' in groups %}  
  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
{% for target in groups['exporter'] %}
      - targets: ['{{ hostvars[target]['internal_ip'] }}:9100']
{% endfor %}
{% endif %}

{% if 'container-exporter' in groups %}      
  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
{% for target in groups['exporter'] %}
      - targets: ['{{ hostvars[target]['internal_ip'] }}:9200']
{% endfor %}
{% endif %}

{% if 'nginx-exporter' in groups %}
  - job_name: 'nginx'
    scrape_interval: 10s
    static_configs:
{% for target in groups['nginx'] %}
      - targets: ['{{ hostvars[target]['internal_ip'] }}:9300']
{% endfor %}
{% endif %}


{% if 'traefik-exporter' in groups %}
  - job_name: 'traefik'
    scrape_interval: 10s
    static_configs:
{% for target in groups['traefik'] %}
      - targets: ['{{ hostvars[target]['internal_ip'] }}:9400']
{% endfor %}
{% endif %}

#  - job_name: 'aspnetcore'
#    scrape_interval: 10s
#    static_configs:
#      - targets: ['eventlog-proxy:5000', 'eventlog:5000']


# alerting:
#   alertmanagers:
#   - scheme: http
#     static_configs:
#     - targets: 
#       - 'alertmanager:9093'
